html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


/* font start */

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BoldCond.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BoldCondIt.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Cond.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-CondIt.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiboldIt.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* Nexa Fonts */
@font-face {
  font-family: 'Nexa';
  src: url('../fonts/Nexa-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../fonts/Nexa-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Myriad Pro', sans-serif;
}


h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Myriad Pro', sans-serif;
  font-optical-sizing: auto;
}
/* font end */


/* Hamburger Menu start */

.nav-links {
    display: none;
    background-color: #65a30d;
    padding: 1rem;
    width: 100%; /* Add this */
  }
  
  .nav-links.active {
    display: block;
  }
  
  .nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
  }
  
  .nav-links a:hover {
    background-color: #4d7c0f;
  }
  
  @media (min-width: 1024px) {
    #menu-button {
        display: none;
    }
    
    .nav-links {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 50;
  }
  
  }
  
  /* Hamburger Menu end */
  