@tailwind base;
@tailwind components;
@tailwind utilities;

.image img {
  width: 400px;
  height: auto;
  padding-top: 40px;
}

.award {
  width: auto;
  height: auto;
  background-color: rgb(230, 225, 225);
  padding-bottom: 40px;
}


h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
}