@tailwind base;
@tailwind components;
@tailwind utilities;

.image img {
  width: 400px;
  height: auto;
  padding-top: 40px;
}

.award {
  width: auto;
  height: auto;
  background-color: rgb(230, 225, 225);
  padding-bottom: 40px;
}
